.report-card {
    display: block;
    box-sizing: border-box;
    width: 100%;
    aspect-ratio: 1 / 0.9;
    background-color: var(--orange-300);
    border-radius: 1rem;
    position: relative;
}
.card-image-wrapper {
  position: absolute;
  right: 0;
  width: 80px;
  aspect-ratio: 1 / 1;
  padding-right: 1rem;
  overflow: hidden;
  z-index: 1;
}

.card-image-wrapper img {
  width: 100%;
  height: 100%;
  margin-top: -0.75rem;
}

.report-card .card-body {
    margin-top: 2.5rem;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    background-color: var(--navy-900);
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
}

.card-body .current-hours {
    font-size: 3.5rem;
    font-weight: lighter;
    margin-bottom: 0.5rem;
}

.card-body .previous-hours {
    color: var(--purple-500);
    font-size: 0.9rem;
}

.card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.card-title h2 {
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 1.4;
    line-height: 1.4;
}

.card-title img {
    position: static;
    margin-left: 0.5em;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


@media screen and (max-width: 375px) {
    .report-card {
        height: auto;
        width: 100%;
        aspect-ratio: unset;
    }

    .card-body {
        height: auto;
        position: relative;
    }

    .card-body .current-hours {
        font-size: 2rem;
        font-weight: lighter;
        margin-bottom: 0.5rem;
    }

    .card-title {
        margin-bottom: 0.5rem;
    }

    .card-body .previous-hours {
        color: var(--purple-500);
        font-size: 0.9rem;
    }

    .card-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}